<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Costa Rica Open Ateliers</title>
  <script src="js/jquery.js"></script>
  <script src="js/url.js"></script>
  <script src="js/has.js"></script>
  <script src="js/two.js"></script>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap" rel="stylesheet">
</head>
<body>
  <section class="section">
    <div class="container has-text-centered">
    <span style="font-size: 4rem">&#128534;</span>
    <h3 class="subtitle">er is iets mis gegaan, probeer het later opnieuw</h3>
    <img src="https://media.giphy.com/media/xT9IgIc0lryrxvqVGM/giphy.gif" />
  </div>
  </section>
</body>
</html>
