<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Costa Rica Open Ateliers</title>
  <script src="js/jquery.js"></script>
  <script src="js/url.js"></script>
  <script src="js/has.js"></script>
  <script src="js/two.js"></script>
  
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap" rel="stylesheet">
</head>
<body>
  <style>
    div {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 600px;
      text-align: center;
    }
    
    p {
      font-weight: bold;
    }
  </style>
  <div id="error">
    <span style="font-size: 100pt">&#128534;</span>
    <p>Iets ergs is gebeurd aan onze kant, probeer het later opnieuw</p>
    <img src="https://media.giphy.com/media/xT9IgIc0lryrxvqVGM/giphy.gif" />
  </div>
</body>
</html>
