<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Costa Rica Open Ateliers</title>
  <script src="js/jquery.js"></script>
  <script src="js/url.js"></script>
  <script src="js/has.js"></script>
  <script src="js/two.js"></script>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap" rel="stylesheet">
</head>
<body>
  <section class="section">
    <div class="container has-text-centered">
      <h1 class="title">&#128165; BEDANKT VOOR JE RESERVERING! &#128165;</h1>
      <h3 class="subtitle">we zien uit naar je komst</h3>
      <img src="https://cdn.glitch.com/5586b473-4909-415e-8d0f-092165c1b5f3%2Fpuppies.gif?v=1601917362167" alt="adorable puppies" />
    </div>
  </section>
</body>
</html>
